<h1>New Client</h1>

<%= form_for @client do |form| %>

   <div>
    <%= form.label :firstName %><br>
    <%= form.text_field :firstName %>
  </div>

  <div>
    <%= form.label :lastName %><br>
    <%= form.text_field :lastName %>
  </div>

  <div>
    <%= form.label :nationalID %><br>
    <%= form.text_area :nationalID %>
  </div>

  <div>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
  </div><br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
