<p id="notice"><%= notice %></p>
<p>
  <strong>First Name:</strong>
  <%= @client.firstName %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @client.lastName %>
</p>

<p>
  <strong>National ID:</strong>
  <%= @client.nationalID %>
</p>

<p>
    <strong>Phone Number</strong>
    <%= @client.phone %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>